<%= form_with(model: invoice, local: true, class: "mt-5") do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-6 sm:space-y-5 max-w-7xl mx-auto p-4 sm:px-6 lg:px-8 bg-white">
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
      <%= form.label :client_id, class:"block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <%= form.collection_select :client_id, Client.all, :id, :name, {}, { class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"} %>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <%= form.label :net_days, class:"block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <%= form.number_field :net_days, id: :invoice_net_days, class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <%= form.label :note, class:"block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <%= form.text_field :note, id: :invoice_note, class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
      </div>
    </div>

    <div class="sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <%= form.submit class: btn_css %>
    </div>
  </div>
<% end %>
